# ===========================================
# PROJECT 2027 FRONTEND — Environment Variables
# ===========================================

# Backend API URL
VITE_BACKEND_URL=http://localhost:5000

VITE_WHATSAPP_LINK=your_whatsapp_link_here
